<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">

<title>Регистрация</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-box">

<h2>Регистрация</h2>

<form method="POST">

<input name="username" placeholder="Логин" required>

<input type="password" name="password" placeholder="Пароль" required>

<button>Создать</button>

</form>

<p>

Уже есть аккаунт? <a href="/login">Войти</a>

</p>

</div>

</body>
</html>
